*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#minicircle {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 10px;
    height: 10px;
    background-color: #fff;
    z-index: 99999;
    border-radius: 50%;
    position: absolute;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}
.bounding .boundingelem{
    transform: translateY(100%);
}

#main{
    width: 100%;
    background-color: black;
}
#hero{
    position: relative;
    color: white;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    color: white;
}
#nav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
#heading{
    margin-top: 90px;
}

#heading h1{
    line-height: 1;
    margin-left: 30px;
    opacity: .6;
    /* font-family: "General Sans Medium"; */
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
}
#heading #secondh1{
    margin-left: 230px;
}
.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
   
}
.blocktext h5{
    
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
}

#chhotiheadings{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;   
    padding-right: 50px;
}
#chhotiheadings h5{
    text-align: right;
    text-transform: uppercase;
    margin-top: .5vw;
    font-size: 1.2vw;
}

#herofooter{
    padding: 0 2vw;
    width: 100%;
    /* position: absolute; */
    bottom: 3%;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#herofooter a{  
     
    color: white;
    text-decoration: none;
    text-transform: uppercase;   
}

#herofooter #iconset{
    display: flex;
    gap: 5px;
    /* color: white; */
}
#herofooter .circle{
    
    display: flex;
    text-align: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 50%;
    background-color: #888;
    
}

#second{
    /* background-color: black; */
    color: white;
    padding-right: 10vw;
    padding-top: 200px;
    background-color: black;
    width: 100%;
    /* height: 100vh; */
}

.elem{
    position: relative;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;
}
.elem img{
    opacity: 0;
    pointer-events: none;   
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}

#about{
    width: 100%;
    padding: 10vw 10vw;
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 50px;
    padding-left: 40vw;
    /* border-bottom: 1px solid #888; */
}
#about img{
    width: 200px;
}

#textabout{
    width: 25rem;   
}

#textabout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-top: 10px;
}
#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}
#textabout a{
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

#subscribe{
    display: flex;
    flex-direction: column;
    align-items: end;
    color: white;
    padding: 20px 30px;
    padding-bottom: 7vw;
}
#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
}

#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}
#footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
}
#footerleft{
    display: flex;
    gap: 30px;
}
#footerright{
    display: flex;
    gap: 30px;
}

#footer a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
